<!DOCTYPE html>
<html>

<head>
  <title>Cure Code - Antibiotics</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='IMG/favicon.ico')  }}">
</head>

<body>
  <div class="navbar">
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/about-us">About Us</a>
    <a class="nav-link active" href="/museum">Museum</a>
    <a class="nav-link" href="/our-vision">Our Vision</a>
    <a class="nav-link" href="/health-horizon">Health Horizon</a>
    <a class="nav-link" href="/pathogen-protocol">Pathogen Protocol</a>
    <a class="nav-link" href="/case-studies">Case Studies</a>
    <a class="nav-link" href="/expert-talk">Expert Talk</a>
    <a class="nav-link" href="/trivia">Trivia</a>
    <a class="nav-link" href="/reviews">Reviews</a>
    <p class="nav-icon">Cure Code</p>
  </div>

  <p class="HeadText">Antibiotics</p>
  <p class="SubHeadText"></p>
  <img src="{{ url_for('static', filename='IMG/antibiotics.png')  }}" class="museum-image" style="display: block; margin-left: auto; margin-right: auto;">
  <p class="DescText">
    <b>Antibiotics</b> are a class of medications used to treat infections caused by bacteria. They work by either
    killing bacteria or inhibiting their growth, helping the body’s immune system to combat the infection more
    effectively. Antibiotics are crucial in managing a wide range of bacterial infections, from minor ailments to
    life-threatening diseases.<br><br>

    <b>History:</b> The discovery of antibiotics revolutionized medicine and significantly reduced mortality from
    bacterial infections. The first antibiotic, penicillin, was discovered by Alexander Fleming in 1928. Fleming noticed
    that a mold called Penicillium notatum produced a substance that killed bacteria. This breakthrough led to the
    development of penicillin as a treatment for bacterial infections, marking the beginning of the antibiotic era.
    Since then, numerous antibiotics have been developed, each targeting specific types of bacteria and
    infections.<br><br>

    <b>How antibiotics work:</b> Antibiotics work through various mechanisms depending on the class of drug. Some
    antibiotics, known as <b>bactericidal</b>, kill bacteria directly by interfering with essential bacterial processes,
    such as cell wall synthesis or protein production. Others, called <b>bacteriostatic</b>, inhibit bacterial growth
    and reproduction, allowing the body’s immune system to clear the infection. The effectiveness of an antibiotic
    depends on its ability to target specific bacteria without harming the body’s own cells.<br><br>

    <b>Types of antibiotics:</b> There are several classes of antibiotics, each with different mechanisms of action and
    spectrum of activity. <b>Penicillins</b> and <b>cephalosporins</b> are beta-lactam antibiotics that inhibit cell
    wall synthesis. <b>Macrolides</b> and <b>tetracyclines</b> inhibit protein synthesis. <b>Fluoroquinolones</b>
    interfere with bacterial DNA replication. <b>Sulfonamides</b> inhibit bacterial synthesis of folic acid. Each class
    is effective against different types of bacteria, so choosing the appropriate antibiotic depends on the type of
    infection and the specific bacteria causing it.<br><br>

    <b>Benefits and risks:</b> Antibiotics have greatly improved the ability to treat bacterial infections, reducing the
    severity of illnesses and saving lives. However, improper use of antibiotics, such as overuse or incomplete courses,
    can lead to antibiotic resistance. This occurs when bacteria evolve mechanisms to evade the effects of antibiotics,
    making infections harder to treat. Other risks include potential side effects, such as allergic reactions or
    disruption of normal microbiota, which can lead to issues like gastrointestinal disturbances.<br><br>

    <b>Importance and stewardship:</b> The responsible use of antibiotics is critical to preserving their effectiveness.
    Antibiotic stewardship involves using antibiotics only when necessary, choosing the right antibiotic for the
    specific infection, and completing the prescribed course. Education on proper use and ongoing research into new
    antibiotics and alternative treatments are essential for combating antibiotic resistance and ensuring the continued
    efficacy of these life-saving medications. Antibiotics remain a cornerstone of modern medicine, providing effective
    treatment for bacterial infections and contributing to overall public health.



</body>
<script src="{{ url_for('static', filename='JS/load_transition.js')  }}"></script>

</html>