<!DOCTYPE html>
<html>

<head>
  <title>Cure Code - Genetic Engineering</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='IMG/favicon.ico')  }}">
</head>

<body>
  <div class="navbar">
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/about-us">About Us</a>
    <a class="nav-link active" href="/museum">Museum</a>
    <a class="nav-link" href="/our-vision">Our Vision</a>
    <a class="nav-link" href="/health-horizon">Health Horizon</a>
    <a class="nav-link" href="/pathogen-protocol">Pathogen Protocol</a>
    <a class="nav-link" href="/case-studies">Case Studies</a>
    <a class="nav-link" href="/expert-talk">Expert Talk</a>
    <a class="nav-link" href="/trivia">Trivia</a>
    <a class="nav-link" href="/reviews">Reviews</a>
    <p class="nav-icon">Cure Code</p>
  </div>

  <p class="HeadText">Genetic Engineering</p>
  <p class="SubHeadText"></p>
  <a href=""><img src="{{ url_for('static', filename='IMG/chemotherapy.png')  }}" class="museum-image"
      style="display: block; margin-left: auto; margin-right: auto;"></a>
  <p class="DescText">
    <b>Chemotherapy</b> is a form of cancer treatment that uses powerful drugs to destroy cancer cells or slow their
    growth. It is one of the most common and effective treatments for various types of cancer, often used in combination
    with surgery, radiation therapy, or other targeted therapies. Chemotherapy works by targeting rapidly dividing
    cells, a characteristic of cancer cells, but it can also affect healthy cells that divide quickly, leading to side
    effects.<br><br>

    <b>History:</b> The origins of chemotherapy can be traced back to the early 20th century, with significant
    developments occurring during World War II. The discovery of the anti-cancer effects of nitrogen mustard, a chemical
    warfare agent, led to the development of the first chemotherapy drugs. In the 1940s, the drug mustine was used to
    treat lymphoma, marking the beginning of modern chemotherapy. Over the decades, more chemotherapy agents were
    discovered and refined, transforming cancer treatment and improving survival rates for many cancer patients.<br><br>

    <b>How chemotherapy works:</b> Chemotherapy drugs work by interfering with the process of cell division, which is
    more frequent in cancer cells. These drugs can target different stages of the cell cycle, preventing cancer cells
    from growing and multiplying. Some chemotherapy agents damage the DNA of cancer cells, while others inhibit the
    enzymes or proteins necessary for cell division. Because chemotherapy affects rapidly dividing cells, it can also
    impact healthy cells in the bone marrow, digestive tract, hair follicles, and reproductive system, leading to
    various side effects.<br><br>

    <b>Administration of chemotherapy:</b> Chemotherapy can be administered in several ways, depending on the type of
    cancer, its stage, and the specific drugs used. The most common method is intravenous (IV) infusion, where the drugs
    are delivered directly into the bloodstream through a vein. Chemotherapy can also be given orally in pill form,
    injected into a muscle or under the skin, or delivered directly to the affected area, such as the spinal fluid or a
    specific organ. The treatment is typically given in cycles, with periods of treatment followed by rest periods to
    allow the body to recover.<br><br>

    <b>Side effects and management:</b> While chemotherapy is effective in targeting cancer cells, it can also cause a
    range of side effects due to its impact on healthy cells. Common side effects include fatigue, nausea, vomiting,
    hair loss, and an increased risk of infections due to the suppression of bone marrow function. Advances in
    supportive care, such as anti-nausea medications and growth factors to stimulate blood cell production, have
    improved the management of these side effects. The severity and type of side effects vary depending on the specific
    chemotherapy regimen and the individual patient.<br><br>

    <b>Advancements and future directions:</b> Research continues to improve chemotherapy treatments, making them more
    effective and reducing side effects. The development of targeted therapies, which focus on specific molecules or
    pathways in cancer cells, has allowed for more precise treatments with fewer side effects. Combination therapies,
    where chemotherapy is used alongside other treatments like immunotherapy or radiation, have also shown promise in
    improving outcomes for cancer patients. As our understanding of cancer biology advances, chemotherapy will continue
    to evolve, offering new hope to patients battling this complex disease.

  </p>
  <script src="{{ url_for('static', filename='JS/load_transition.js')  }}"></script>
</body>

</html>