<!DOCTYPE html>
<html>

<head>
  <title>Cure Code - Inhalers</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='IMG/favicon.ico')  }}">
</head>

<body>
  <div class="navbar">
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/about-us">About Us</a>
    <a class="nav-link active" href="/museum">Museum</a>
    <a class="nav-link" href="/our-vision">Our Vision</a>
    <a class="nav-link" href="/health-horizon">Health Horizon</a>
    <a class="nav-link" href="/pathogen-protocol">Pathogen Protocol</a>
    <a class="nav-link" href="/case-studies">Case Studies</a>
    <a class="nav-link" href="/expert-talk">Expert Talk</a>
    <a class="nav-link" href="/trivia">Trivia</a>
    <a class="nav-link" href="/reviews">Reviews</a>
    <p class="nav-icon">Cure Code</p>
  </div>

  <p class="HeadText">Inhalers</p>
  <p class="SubHeadText"></p>
  <img src="{{ url_for('static', filename='IMG/inhaler.png')  }}" class="museum-image"
    style="display: block; margin-left: auto; margin-right: auto;">
  <p class="DescText">
    <b>Inhalers</b> are medical devices used to deliver medication directly into the lungs, primarily for the treatment
    of respiratory conditions such as asthma and chronic obstructive pulmonary disease (COPD). By delivering the
    medication directly to the airways, inhalers allow for rapid relief of symptoms and effective management of chronic
    respiratory diseases. They are a cornerstone in the treatment of asthma and COPD, helping patients breathe more
    easily and reducing the risk of severe flare-ups.<br><br>

    <b>History:</b> The concept of inhaling medicinal substances dates back to ancient civilizations, where people
    inhaled vapors from burning herbs or resins for respiratory relief. The modern inhaler, however, was developed in
    the 20th century, with significant advancements occurring in the 1950s. The first pressurized metered-dose inhaler
    (pMDI), which allowed for a precise dose of medication to be delivered in aerosol form, was introduced in 1956. This
    invention revolutionized asthma treatment by providing a convenient, portable, and effective way to deliver
    medication.<br><br>

    <b>How inhalers work:</b> Inhalers work by delivering medication directly to the lungs, where it can act quickly to
    relieve symptoms such as wheezing, shortness of breath, and chest tightness. There are several types of inhalers,
    each designed to deliver medication in a specific way. <b>Pressurized metered-dose inhalers (pMDIs)</b> release a
    specific amount of medication in aerosol form when the user presses down on the canister. <b>Dry powder inhalers
      (DPIs)</b> require the user to inhale forcefully to draw the medication into the lungs, while <b>soft mist
      inhalers (SMIs)</b> release a fine mist of medication that is easier to inhale, especially for those with
    difficulty using pMDIs or DPIs.<br><br>

    <b>Types of medication delivered by inhalers:</b> Inhalers can deliver various types of medications, depending on
    the patient's needs. <b>Bronchodilators</b> are commonly used in inhalers to relax the muscles around the airways,
    making it easier to breathe. These can be short-acting, providing quick relief during an asthma attack, or
    long-acting, helping to prevent symptoms over time. <b>Corticosteroids</b> are another type of medication often
    delivered via inhalers, which help reduce inflammation in the airways, preventing asthma attacks and managing
    chronic symptoms. Combination inhalers, which contain both a bronchodilator and a corticosteroid, are also commonly
    used.<br><br>

    <b>Benefits and challenges:</b> The primary benefit of inhalers is their ability to deliver medication directly to
    the lungs, where it is most needed. This targeted delivery results in faster symptom relief and fewer systemic side
    effects compared to oral medications. However, using an inhaler correctly can be challenging for some patients,
    especially those who have difficulty coordinating their breathing with the release of medication. To address this,
    healthcare providers often demonstrate proper inhaler technique and may recommend the use of spacers, which help
    ensure that more medication reaches the lungs.<br><br>

    <b>Future developments:</b> Advances in inhaler technology continue to improve the effectiveness and ease of use of
    these devices. New types of inhalers are being developed to deliver medication more efficiently, with features such
    as dose counters, feedback mechanisms, and digital connectivity to track usage and remind patients when it's time to
    take their medication. These innovations aim to enhance patient adherence to treatment, reduce the frequency of
    asthma and COPD exacerbations, and improve overall quality of life for those with respiratory conditions.

  </p>
  <script src="{{ url_for('static', filename='JS/load_transition.js')  }}"></script>
</body>

</html>