<!DOCTYPE html>
<html>

<head>
  <title>Cure Code - Museum</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='IMG/favicon.ico')  }}">
</head>

<body>
  <div class="navbar">
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/about-us">About Us</a>
    <a class="nav-link active" href="/museum">Museum</a>
    <a class="nav-link" href="/our-vision">Our Vision</a>
    <a class="nav-link" href="/health-horizon">Health Horizon</a>
    <a class="nav-link" href="/pathogen-protocol">Pathogen Protocol</a>
    <a class="nav-link" href="/case-studies">Case Studies</a>
    <a class="nav-link" href="/expert-talk">Expert Talk</a>
    <a class="nav-link" href="/trivia">Trivia</a>
    <a class="nav-link" href="/reviews">Reviews</a>
    <p class="nav-icon">Cure Code</p>
  </div>


  <p class="HeadText">Museum</p>

  <div class="grid-container">
    <div class="grid-item">
      <a href="/museum/medical-timeline"><img src="static/IMG/Timeline.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto;"></a>
      <p>
        Artefact 1: The Medical Timeline
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/ayurvedic-medicine"><img src="static/IMG/Ayurveda.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto;"></a>
      <p>
        Artefact 2: Ayurvedic Medicines
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/surgical-tools"><img src="static/IMG/surgical-tools.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto;"></a>
      <p>
        Artefact 3: Surgical Tools
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/stethoscope"><img src="static/IMG/stethoscope.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto;"></a>
      <p>
        Artefact 4: Stethoscope
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/penicillin"><img src="static/IMG/penicillin.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto;"></a>
      <p>
        Artefact 5: Penicillin
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/microscope"><img src="static/IMG/microscope.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto;"></a>
      <p>
        Artefact 6: Microscope
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/x-rays"><img src="static/IMG/x-ray.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto;"></a>
      <p>
        Artefact 7: X-Rays
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/electrocardiogram"><img src="static/IMG/electrocardiogram.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto;"></a>
      <p>
        Artefact 8: Electrocardiogram
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/mri-machine"><img src="static/IMG/mri-machine.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto;"></a>
      <p>
        Artefact 9: MRI Machine
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/diabetes"><img src="static/IMG/diabetes.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto; max-height: 90%;"></a>
      <p>
        Artefact 10: Diabetes
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/defibrillator"><img src="static/IMG/defibrillator.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto; max-height: 90%;"></a>
      <p>
        Artefact 11: Defibrillator
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/vaccine"><img src="static/IMG/vaccine.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto; max-height: 90%;"></a>
      <p>
        Artefact 12: Vaccines
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/anesthesia"><img src="static/IMG/anesthesia.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto; max-height: 90%;"></a>
      <p>
        Artefact 13: Anesthesia
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/health-watches"><img src="static/IMG/health-watch.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto; max-height: 90%;"></a>
      <p>
        Artefact 14: Health Watches
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/prosthetics"><img src="static/IMG/prosthetics.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto; max-height: 90%;"></a>
      <p>
        Artefact 15: Prosthetics
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/genetic-engineering"><img src="static/IMG/genetic-engineering.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto; max-height: 90%;"></a>
      <p>
        Artefact 16: Genetic Engineering
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/blood-transfusion"><img src="static/IMG/blood-transfusion.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto; max-height: 90%;"></a>
      <p>
        Artefact 17: Blood Transfusion
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/crispr-cas9"><img src="static/IMG/dna.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto; max-height: 90%;"></a>
      <p>
        Artefact 18: CRISPR-Cas9
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/organ-transplantation"><img src="static/IMG/organ-transplant.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto; max-height: 90%;"></a>
      <p>
        Artefact 19: Organ Transplantation
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/chemotherapy"><img src="static/IMG/chemotherapy.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto; max-height: 90%;"></a>
      <p>
        Artefact 20: Chemotherapy
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/spiritual-medicine"><img src="static/IMG/yoga.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto; max-height: 90%;"></a>
      <p>
        Artefact 21: Spiritual Medicine
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/laparoscopy"><img src="static/IMG/laparoscopy.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto; max-height: 90%;"></a>
      <p>
        Artefact 22: Laparoscopy
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/inhalers"><img src="static/IMG/inhaler.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto; max-height: 90%;"></a>
      <p>
        Artefact 23: Inhalers
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/dialysis"><img src="static/IMG/dialysis.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto; max-height: 90%;"></a>
      <p>
        Artefact 24: Dialysis
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/robotic-surgery"><img src="static/IMG/robotic-surgery.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto; max-height: 90%;"></a>
      <p>
        Artefact 25: Robotic Surgery
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/antibiotics"><img src="static/IMG/antibiotics.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto; max-height: 90%;"></a>
      <p>
        Artefact 26: Antibiotics
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/antiseptics"><img src="static/IMG/antiseptic.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto; max-height: 90%;"></a>
      <p>
        Artefact 27: Antiseptics
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/electroencephalogram"><img src="static/IMG/electroencephalogram.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto; max-height: 90%;"></a>
      <p>
        Artefact 28: Electroencephalogram
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/sterilization"><img src="static/IMG/sterilization.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto; max-height: 90%;"></a>
      <p>
        Artefact 29: Sterilization
      </p>
    </div>

    <div class="grid-item">
      <a href="/museum/telemedicine"><img src="static/IMG/telemedicine.png" class="museum-image"
          style="display: block; margin-left: auto; margin-right: auto; max-height: 90%;"></a>
      <p>
        Artefact 30: Telemedicine
      </p>
    </div>

    <script src="{{ url_for('static', filename='JS/load_transition.js')  }}"></script>
</body>

</html>