<!DOCTYPE html>
<html>

<head>
  <title>Cure Code - Prosthetics</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='IMG/favicon.ico')  }}">
</head>

<body>
  <div class="navbar">
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/about-us">About Us</a>
    <a class="nav-link active" href="/museum">Museum</a>
    <a class="nav-link" href="/our-vision">Our Vision</a>
    <a class="nav-link" href="/health-horizon">Health Horizon</a>
    <a class="nav-link" href="/pathogen-protocol">Pathogen Protocol</a>
    <a class="nav-link" href="/case-studies">Case Studies</a>
    <a class="nav-link" href="/expert-talk">Expert Talk</a>
    <a class="nav-link" href="/trivia">Trivia</a>
    <a class="nav-link" href="/reviews">Reviews</a>
    <p class="nav-icon">Cure Code</p>
  </div>

  <p class="HeadText">Prosthetics</p>
  <p class="SubHeadText"></p>
  <img src="{{ url_for('static', filename='IMG/prosthetics.png')  }}" class="museum-image"
      style="display: block; margin-left: auto; margin-right: auto;">
  <p class="DescText">
    <b>Prosthetics</b> are artificial devices designed to replace missing body parts, helping individuals regain
    functionality and improve their quality of life. These devices can replace limbs such as arms or legs, as well as
    other parts of the body like hands, feet, and even facial features. Prosthetics are crucial for individuals who have
    lost body parts due to injury, illness, or congenital conditions.<br><br>

    <b>History:</b> The use of prosthetic devices dates back to ancient times, with evidence of early prosthetics found
    in ancient Egypt and Rome. These early prosthetics were often made from materials like wood and metal and were
    primarily designed for basic function rather than aesthetics. Significant advancements in prosthetic technology
    began in the 20th century, particularly after World War I and II, when there was a high demand for prosthetics among
    injured soldiers. Today, modern prosthetics are highly sophisticated, offering both functional and cosmetic
    improvements.<br><br>

    <b>How prosthetics work:</b> Prosthetic devices are custom-made to fit the individual’s anatomy. The process
    typically begins with taking measurements and creating a mold of the residual limb or affected area. The prosthetic
    is then fabricated using materials such as plastics, metals, and carbon fiber, which provide strength and durability
    while keeping the device lightweight. Functional prosthetics often incorporate mechanical or electronic components
    that allow movement. For example, modern prosthetic limbs can include motors and sensors that detect muscle signals,
    enabling the user to control the limb's movement.<br><br>

    <b>Types of prosthetics:</b><b> There are various types of prosthetics, each designed for specific needs.</b> <b>Upper limb
      prosthetics</b> include artificial hands, arms, and fingers, and can range from simple devices to advanced robotic
    arms. <b>Lower limb prosthetics</b> include artificial legs, feet, and toes, allowing users to walk, run, and engage
    in physical activities. <b>Cosmetic prosthetics</b> are designed primarily for appearance and are used to replace
    parts like facial features or fingers, where function is less critical but appearance is important. Advances in
    prosthetics have also led to specialized devices, such as running blades for athletes.<br><br>

    <b>Impact on quality of life:</b> Prosthetics significantly improve the quality of life for individuals who have
    lost limbs or other body parts. They restore a level of independence, allowing users to perform daily tasks, work,
    and participate in social activities. For many, prosthetics also offer psychological benefits by helping them regain
    a sense of normalcy and confidence. Modern advancements, such as bionic limbs and mind-controlled prosthetics, are
    pushing the boundaries of what prosthetics can achieve, providing even greater functionality and integration with
    the human body.<br><br>

    <b>Challenges and advancements:</b> While prosthetics have come a long way, challenges remain, such as cost,
    comfort, and accessibility. Custom-fitted prosthetics can be expensive, and users often need time to adapt to the
    new device. However, ongoing research and innovation are making prosthetics more affordable, comfortable, and
    functional. 3D printing technology, for example, is helping to reduce production costs, while advancements in
    materials and electronics are improving the durability and responsiveness of prosthetic devices. The future of
    prosthetics holds the promise of even more life-like and user-friendly devices that can further enhance the lives of
    those who rely on them.

  </p>
  <script src="{{ url_for('static', filename='JS/load_transition.js')  }}"></script>
</body>

</html>